.bg-image{
    position: relative;
    
    width: 100%;
    height: 450px;
    color: white; /* 根据背景图片调整文本颜色 */
    z-index: 1; /* 设置较低的 z-index 值 */
    overflow: hidden;
    background-size: cover;   /* 背景图自适应容器大小，保持比例 */
    background-position: center; /* 背景图居中显示 */
}


.breadcrumbs-custom{
    position: relative;
    

    display: flex;
    align-items: center;
    
}

.breadcrumbs-custom-title{
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.4;
    letter-spacing: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
}

.breadcrumbs-custom-path{
    color: #aeb1ae;
    padding-left: 0;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
}
.breadcrumbs-custom-path li :not(.no-think)::after{
    content: ">";
    padding-left: 10px ;
}
/* TEACHER STAR */
.teacher {

    text-align: center; /* 标题居中 */
    padding: 20px; /* 内边距 */
    background-color: #f9f9f9; /* 背景色可选 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 垂直居中 */
}

.teacher h1 {
    font-size: 36px; /* 标题大小 */
    color: rgb(43, 43, 43); /* 标题颜色 */
    margin-bottom: 40px; /* 标题与下方内容的间距 */
    margin-top: 20px;
    font-family: "Playfair Display", "Times New Roman", Times, serif;
    display: block;
    
}

.teacher-list {
    display: flex; /* 使用 Flex 布局 */
    justify-content: space-between; /* 均匀分布 */
    align-items: flex-start; /* 顶部对齐 */
    flex-wrap: wrap; /* 超出宽度自动换行 */
    gap: 20px; /* 每个模块之间的间距 */
}

.teacher-item {
    width: calc(25% - 20px); /* 每个模块宽度，考虑间距 */
    background-color: #ffffff; /* 背景色 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    border-radius: 10px; /* 圆角 */
    padding: 15px; /* 内边距 */
    text-align: center; /* 内容居中 */
   
}


.teacher-item h2 {
    font-size: 18px; /* 名称字体大小 */
    color: #c5a15b; /* 名称颜色 */
    margin-bottom: 5px; /* 名称与职务的间距 */
    width: 100%;
    flex-wrap: wrap;
}

.teacher-item p {
    font-size: 16px; /* 职务字体大小 */
    color: #aeb1be; /* 职务颜色 */
}

/* Teacher section styles */
.teacher {
    text-align: center;
    margin: 50px 0;

}



.teacher-photo {
    position: relative;
    overflow: hidden;
    border-radius:10px;
}

.teacher-photo img {
    width: 100%;
    display: block;
    transition: transform 0.3s ea;
}

.teacher-photo:hover img {
    transform: scale(2.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* 半透明灰色遮罩 */
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: end;
}

.teacher-photo:hover .overlay {
    opacity: 1;
}

.social-icons {

    width: 100%;
    display: flex;
    justify-content:space-around; /* 水平居中 */
    align-items:center; /* 垂直居中 */
    gap: 1%; /* 图标之间的间距 */
    
}

.social-icons a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    width: 20%;
    
}
.social-icons svg{
    width: 100%;
}

.social-icons a:hover {
    transform: scale(1.2); /* 放大效果 */
}

h2 {
    margin-top: 10px;
    font-size: 18px;
}

p {
    color: gray;
    font-size: 14px;
}


/* TEACHER END*/

/* team start */
.team-list{

    background-color: #F5F6FA;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}

.team-all{
    display: grid;
    
    grid-template-columns: repeat(2, 1fr); /* 设置两列，每列占据同样的宽度 */
    grid-template-rows: repeat(2, auto); /* 设置两行，行高根据内容自动调整 */
    gap: 2%; /* 设置网格间隙 */
    width: 1260px;
    place-items: center;  /* 同时水平和垂直居中 */
}

.team-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 20px;
    text-align: center;
}

.whoweare{
   
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    flex-direction: column;
    
}
#whoimg {
    width: 1260px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
/*team end  */